/* -------------------------------------------------- 
   top navigation styles
-----------------------------------------------------*/


nav {
	background: #a7d4fa;
	margin-bottom: 2em; 
    display: block;
}


nav ul li a:not(.button) {
	font-weight: 400;
	font-size: 1em;
	color: white;
	margin: 0 1em;
	padding: .5em .25em;
	display: block;
	max-width: 5em;
	box-sizing: content-box;
}


nav li a:hover {
	text-decoration: none;
}
nav li.search-form input[type="search"] {
	width: 150px;
}
nav ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
nav li {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-pack: center;
	align-items: center;
}
nav li.search-form {
	margin-left: auto;
	margin-right: 1em;
}

.main{
text-align: center;
width: 90%;
}
.main_body{
display: inline-block;
}

/* -------------------------------------------------- 
   footer  styles
-----------------------------------------------------*/
footer {
    background: #a7d4fa;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 4em;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

